@font-face {
    font-family: "Navigo";
    
    src: local("Navigo-Light"), local("Navigo-Light"),
        url("../fonts/navigo/Navigo-ExtraLight.ttf") format("truetype"),
        url("../fonts/navigo/Navigo-ExtraLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Regular"), local("Navigo-Regular"),
    url("../fonts/navigo/Navigo-Regular.ttf") format("truetype"),
    url("../fonts/navigo/Navigo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Thin"), local("Navigo-Thin"),
    url("../fonts/navigo/Navigo-Thin.ttf") format("truetype"),
    url("../fonts/navigo/Navigo-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Navigo Ultra";
    src: local("Navigo Ultra Bold"), local("Navigo-Bold"),
    url("../fonts/navigo/Navigo-Bold.ttf") format("truetype"),
    url("../fonts/navigo/Navigo-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Bold"), local("Navigo-Black"),
    url("../fonts/navigo/Navigo-Black.ttf") format("truetype"),
    url("../fonts/navigo/Navigo-Black.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Medium"), local("Navigo-Medium"),
    url("../fonts/navigo/Navigo-Medium.ttf") format("truetype"),
    url("../fonts/navigo/Navigo-Medium.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
